
@{
    ViewBag.Title = "Chart of Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .nav-link.active {
        background-color: #007bff !important; /* Background color for active link */
        color: white !important; /* Text color for better contrast */
        border: 2px solid black !important; /* Border color for active link */
        border-radius: 5px !important; /* Optional: rounded corners */
        padding: 10px 15px !important; /* Optional: padding for better spacing */
    }
    select.form-control, .select2-container--default select.select2-selection--single, .select2-container--default .select2-selection--single select.select2-search__field, select.typeahead, select.tt-query, select.tt-hint {
        color:darkslategray !important;
    }
</style>
<div class="row">
    <div class="col-lg-12 mb-3">
        <h4>@ViewBag.Title</h4>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body d-flex flex-column justify-content-between">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <div class="col-lg-12">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav_list" data-bs-toggle="tab" data-bs-target="#nav_div_list" type="button" role="tab" aria-controls="nav-home" aria-selected="true" onclick="show_list()">Details</button>
                                <button class="nav-link" id="nav_new" data-bs-toggle="tab" data-bs-target="#nav_div_new" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" onclick="show_new()">New COA</button>
                            </div>
                        </nav>
                        <div class="tab-content mt-3" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav_div_list" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="col-lg-12 table-responsive">
                                    <table class="table table-bordered table-condensed table-striped" id="list_tbl">
                                        <thead class="table-info">
                                            <tr>
                                                <th style="text-align:center; color:black;">#</th>
                                                <th style="text-align:center; color:black;">Account No</th>
                                                <th style="text-align:center; color:black;">Account Name</th>
                                                <th style="text-align:center; color:black;">Balance</th>
                                                <th style="text-align:center; color:black;">Description</th>
                                                <th style="text-align:center; color:black;">Amount</th>
                                                <th style="text-align:center; color:black;">Type</th>
                                                <th style="text-align:center; color:black;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="list_tbl_bdy"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav_div_new" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <div class="col-lg-12">
                                    <div class="row mb-3">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="acc_no">Acount NO</label>
                                                <select class="form-control form-control-sm border-dark" id="acc_no">
                                                    <option value="0">Select Account NO</option>
                                                    <option value="1000251055">1000251055</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="acc_type">Transaction Type</label>
                                                <select class="form-control form-control-sm border-dark" id="acc_type">
                                                    <option value="0">Select Type</option>
                                                    <option value="101">Deposit</option>
                                                    <option value="102">Expense</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="acc_des">Description</label>
                                                <input type="text" class="form-control form-control-sm border-dark" style="width:100% !important;" placeholder="Description" id="acc_des">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div align="right" class="col-lg-6">
                                            <button id="cancel_btn" type="button" class="btn btn-sm btn-inverse-danger btn-fw" onclick="show_list()">
                                                <i class="fi fi-rr-cross-circle"></i>&nbsp;Cancel
                                            </button>
                                        </div>
                                        <div align="left" class="col-lg-6">
                                            <button id="submit_btn" type="button" class="btn btn-sm btn-inverse-primary btn-fw" onclick="COA_POSTING()">
                                                <i class="fi fi-rr-check-circle"></i>&nbsp;Submit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="update_modal">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="acc_no">Acount NO</label>
                                <select class="form-control form-control-sm border-dark" id="acc_no_up">
                                    <option value="0">Select Account NO</option>
                                    <option value="1000251055">1000251055</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="acc_type">Transaction Type</label>
                                <select class="form-control form-control-sm border-dark" id="acc_type_up">
                                    <option value="0">Select Type</option>
                                    <option value="101">Deposit</option>
                                    <option value="102">Expense</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="acc_des">Description</label>
                                <input type="text" class="form-control form-control-sm border-dark" style="width:100% !important;" placeholder="Description" id="acc_des_up">
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-inverse-danger" data-dismiss="modal" onclick="close_modalclose_modal()">Close</button>
                <button id="update_btn" type="button" class="btn btn-inverse-primary" onclick="UPDATE_COA()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        GET_ALL_COA();
    });

    function show_list() {
        $("#nav_div_list").removeClass("show active");
        $("#nav_div_new").removeClass("show active");
        $("#nav_div_list").addClass("show active");

        $("#nav_list").removeClass("active");
        $("#nav_new").removeClass("active");
        $("#nav_list").addClass("active");
    }

    function show_new() {
        $("#nav_div_list").removeClass("show active");
        $("#nav_div_new").removeClass("show active");

        $("#nav_div_new").addClass("show active");

        $("#nav_list").removeClass("active");
        $("#nav_new").removeClass("active");

        $("#nav_new").addClass("active");
    }

    async function GET_ALL_COA() {
        try {
            const response = await $.ajax({
                type: "POST",
                url: "/Account/GET_ALL_COA",
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });

            console.log("GET_ALL_COA:", response);

            if (response.has_data) {
                let result = response.list.map((chart_acc, index) => {
                    return `
                    <tr id="tr_${chart_acc.COA_ID}" data-coaid="${chart_acc.COA_ID}" data-accid="${chart_acc.ACC_ID}" data-accno="${chart_acc.ACCOUNT_NO}" data-coades="${chart_acc.ACCOUNT_DESCRIPTION}" data-acctype="${chart_acc.ACC_TYPE}">
                        <td style="text-align:center;">${index + 1}</td>
                        <td style="text-align:center;">${chart_acc.ACCOUNT_NO}</td>
                        <td style="text-align:center;">${chart_acc.ACCOUNT_NAME}</td>
                        <td style="text-align:center;">${chart_acc.BALANCE}</td>
                        <td style="text-align:center;">${chart_acc.ACCOUNT_DESCRIPTION}</td>
                        <td style="text-align:center;">${chart_acc.AMOUNT}</td>
                        <td style="text-align:center;">${chart_acc.TYPE}</td>
                        
                        <td style="text-align:center;">
                            <button type="button" class="btn btn-inverse-info btn-icon mx-2" title="Click to Edit" onclick="show_modal('${chart_acc.COA_ID}')">
                                <i class="fi fi-rr-file-edit"></i>
                            </button>
                            <button type="button" class="btn btn-inverse-danger btn-icon mx-2" title="Click to Delete" onclick="DELETE_COA('${chart_acc.COA_ID}')">
                                <i class="fi fi-rr-trash"></i>
                            </button>
                            
                        </td>
                    </tr>`;
                }).join('');

                $('#list_tbl').DataTable().destroy();
                $("#list_tbl_bdy").empty().append(result);
                $('#list_tbl').DataTable({
                    lengthMenu: [[10, 100, 200, -1], [10, 100, 200, "All"]],
                });
            } else {
                $('#list_tbl').DataTable().destroy();
                $('#list_tbl').DataTable({
                    lengthMenu: [[10, 100, 200, -1], [10, 100, 200, "All"]],
                });
                
            }
            show_list();
        } catch (error) {
            console.error("Error fetching GET_ALL_COA:", error);
            showMessage("An error occurred while fetching GET_ALL_COA.", "error");
        }
    }

    async function COA_POSTING() {
        let acc_no = $("#acc_no").val();
        let acc_type = $("#acc_type").val();
        let acc_des = $("#acc_des").val();

        if (acc_no == 0) {
            showMessage("please select account no", "error");
            return;
        }

        if (acc_type == 0) {
            showMessage("please select transaction type", "error");
            return;
        }

        if (acc_des == "" || acc_des == null) {
            showMessage("please select transaction description", "error");
            return;
        }

        try {
            const response = await $.ajax({
                type: "POST",
                url: "/Account/COA_POSTING",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({
                    ACC_NO: acc_no,
                    ACC_TYPE: acc_type,
                    ACC_DESCRIPTION: acc_des
                })
            });

            console.log("COA_POSTING:", response);

            if (response.has_data) {
                showMessage(response.message, "success");
                GET_ALL_COA();
            } else {
                showMessage(response.message, "error");
            }
        } catch (error) {
            console.error("Error fetching COA_POSTING:", error);
            showMessage("An error occurred while fetching COA_POSTING.", "error");
        }
    }

    function show_modal(coa_id) {
        let tr_id = $("#tr_" + coa_id);
        //let acc_id = tr_id.attr('data-accid');
        let acc_des = tr_id.attr('data-coades');
        let acc_no = tr_id.attr('data-accno');
        let acc_type = tr_id.attr('data-acctype');

        $("#acc_des_up").val(acc_des);
        $("#acc_type_up").val(acc_type).trigger('change');
        $("#acc_no_up").val(acc_no).trigger('change');

        $("#update_btn").attr('data-coaid', coa_id);
        $("#update_modal").modal('toggle');

    }

    function close_modal() {
        $("#update_modal").modal('toggle');
    }

    async function UPDATE_COA() {
        let acc_no = $("#acc_no_up").val();
        let acc_type = $("#acc_type_up").val();
        let acc_des = $("#acc_des_up").val();
        let coa_id = $("#update_btn").attr('data-coaid') || 0;

        if (coa_id == 0 || coa_id == null || coa_id == "" || coa_id == undefined) {
            showMessage("something went wrong", "error");
            return;
        }

        if (acc_no == 0) {
            showMessage("please select account no", "error");
            return;
        }

        if (acc_type == 0) {
            showMessage("please select transaction type", "error");
            return;
        }

        if (acc_des == "" || acc_des == null) {
            showMessage("please select transaction description", "error");
            return;
        }

        try {
            const response = await $.ajax({
                type: "POST",
                url: "/Account/UPDATE_COA",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({
                    COA_ID: coa_id,
                    ACC_NO: acc_no,
                    ACC_TYPE: acc_type,
                    ACC_DESCRIPTION: acc_des
                })
            });

            console.log("UPDATE_COA:", response);

            if (response.has_data) {
                showMessage(response.message, "success");
                GET_ALL_COA();
            } else {
                showMessage(response.message, "error");
            }
            $("#update_modal").modal('toggle');
        } catch (error) {
            console.error("Error fetching UPDATE_COA:", error);
            showMessage("An error occurred while fetching UPDATE_COA.", "error");
        }
    }

    async function DELETE_COA(coa_id) {
        //let coa_id = $("#update_btn").attr('data-coaid') || 0;


        try {
            const confirmResult = await Swal.fire({
                //Articel: 8614643 Total 10 pairs will be produced
                title: `Are You Sure?`,
                showCancelButton: true,
                cancelButtonColor: '#d33',
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Yes',
            });
            if (confirmResult.isConfirmed) {
                const response = await $.ajax({
                    type: "POST",
                    url: "/Account/DELETE_COA",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify({
                        COA_ID: coa_id
                    })
                });

                console.log("DELETE_COA:", response);

                if (response.has_data) {
                    showMessage(response.message, "success");
                    GET_ALL_COA();
                } else {
                    showMessage(response.message, "error");
                }
                
            }
            else if (confirmResult.isDenied) {
                Swal.fire('Changes are not saved', '', 'info');
            }
        } catch (error) {
            console.error("Error fetching DELETE_COA:", error);
            showMessage("An error occurred while fetching DELETE_COA.", "error");
        }
    }

</script>